<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h1 class="mb-3 text-center">Exams</h1>
<div class="container custom-container">
  <div class="row">
    <div class="col-md-3" style="margin-left: 20em;">
      <h3 class="mb-3" style="margin-left: 2em;">Title</h3>
      <ul>
        <li *ngFor="let title of titleString">
          {{title}}
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <h3 class="mb-3" style="margin-left: 2em;">Description</h3>
      <ul style="list-style-type:none;">
        <li *ngFor="let description of descriptionString">
          {{description}}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="container custom-container">
      <div class="row"> 
        <div class="col-md-4">
          <h3 class="mb-3 text-center">Add Exam</h3>
          <div class="form-group shadow">
            <input type="text" [(ngModel)]="exams.title" class="form-control" placeholder="Title to Add">
          </div>
      
          <div class="form-group shadow">
            <input type="text" [(ngModel)]="exams.description" class="form-control" placeholder="Description to Add">
          </div>
      
          <div class="form-group shadow" style="margin-top: 4.45em;">
            <button class="btn btn-success btn-lg btn-block" (click)="add_exam()">Add Exam</button>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="mb-3 text-center">Delete Exam</h3>
      
          <div class="form-group shadow">
            <input type="text" [(ngModel)]="delete_title" class="form-control" placeholder="Title to Delete">
          </div>
      
          <div class="form-group shadow" style="margin-top: 7.75em;">
            <button class="btn btn-success btn-lg btn-block" (click)="delete_exam()">Delete Exam</button>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="mb-3 text-center">Update Exam</h3>
          
          <div class="form-group shadow">
            <input type="text" [(ngModel)]="update_title" class="form-control" placeholder="Title to change">
          </div>

          <div class="form-group shadow">
            <input type="text" [(ngModel)]="exams.title" class="form-control" placeholder="New Title">
          </div>
      
          <div class="form-group shadow">
            <input type="text" [(ngModel)]="exams.description" class="form-control" placeholder=" New Description">
          </div>
      
          <div class="form-group shadow">
            <button class="btn btn-success btn-lg btn-block" (click)="update_exam()">Update Exam</button>
          </div>
        </div>
    </div>
    </div>
  </div>
  
</div>
<router-outlet></router-outlet>